header {
  display: flex;
  align-items: center;
  background-color: #439158;
  color: #fff;
  border-radius: 10px;
}

.logo img {
  max-width: 100px;
}


.footer-icon img {
  max-width: 30px;
}

.options a {
  margin-left: 30px;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.options :hover {
  text-decoration: underline;
}

.search-bar {
  display: flex;
  align-items: center;
  margin: 30px;
  margin-left: 31%;
  height: 100px;
  width: 40%;
  border-radius: 10px;
  padding: 5px;
}

.search-bar select {
  flex-grow: 1;
  padding: 18px;
  gap: 10px;
  border-radius: 10px;
  cursor: pointer;
}


.search-bar button {
  color: #fff;
  border-radius: 5px;
  padding: 7px 15px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}


body {
  background-color: #fff;
}

footer {
  background-color: #fff;
  color: black;
  padding: 50px 0;
  text-align: center;
  height: 20px;
  justify-content: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;

}

.footer-content {
  display: flex;
}

.footer-section {
  flex: 1;
  text-align: left;
}

.imagenes {
  max-width: 400px;
  object-fit: cover;
}

.galeria {
  margin-top: 100px;
  margin-bottom: 100px;
  display: grid;
  flex-direction: row;
  gap: 30px;
  color: black;
  margin: 3%;
  grid-template-columns: 1fr 1fr 1fr;
}

.cards {
  width: 400px;
  padding: 20px;
  background-color: #bad4c0;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


.login-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 400px;
  height: 200px;
  text-align: center;
  margin-left: 43%;
}


.login-container form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.login-container input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-container button {
  background-color: #439158;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.admin-container {
  max-width: 1200px;
  margin-left: 100dp;
  margin: 50px;

}

.create-section {
  padding: 20px;
  display: flex;
}

.create-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
}

.create-form textarea {
  height: 60px;
}

input {
  margin-bottom: 10px;
  padding: 5px;

}

button {
  padding: 10px;
  background-color: #439158;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #439158;
}

.details-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  gap: 80px;
  color: black;
  margin: 3%;
  padding: 20px;
  background-color: #bad4c0;
  border-radius: 10 px;
}

.property-image {
  max-width: 700px;
}

.property-details {
  display: flex;
  flex: 1;
  margin-right: 20px;
}

.customer-details {
  background-color: #eff3f0;
  flex: 1;
}

.customer-details form {
 
  padding: 50px;
}
.customer-details input{
  width: 60%;
}
.customer-details textarea {
  height: 100px;
  width: 65%;
}